
table {
    /*width: 80%;
    height: 500px;*/
    border-spacing: 7px 11px;
    border-spacing: 0;
    border-collapse: collapse;
    
}
td, th {
    border: 1px solid #000;

    border-left: 2px dotted#ff9999;
    padding: 3px 7px;
    vertical-align: bottom;
    text-align: right;
}